

body {
	background: #f2f3f8;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
    
}

h1 {
  text-shadow: 1px 1px gray;
  text-align: center;
}
.wrapper {
  width: 400px;
  margin: 0 auto;


}
.title{
	padding-bottom: 10px;
    border-width: 0 0 5px;
    border-style: solid;
    border-color: #3B97D6;
}

/* Search Bar Section */
a {
  color: blue;
}
a.btn {
  color: #fff;
}

a.btn:hover, a.btn:active, a.btn:focus {
  color: #fff;
}
.btn{
  float: left;
  
}
.card_content{
  float: left;
  width: 60%;
  padding-left: 10px;
}
.clearleft{
  clear: left;
  
}

/* Grid */

.container {
	width: 1170px;
	padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  display: block; 
  max-width: 100%;
}
#page2 .container {
	width: 800px;
	padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;

}
.well {
  position:relative;
  width: 100%;
  float: left;
  
  padding: 5px;
  background: #fff;
  border: 1px solid black;
  border-bottom: 2px solid black;
  border-radius: 2px;
  color: #333;
}

.well:hover{
	border-bottom: 2px solid #3B97D6;
}
.well h3 {
  padding: 0 10px;
  margin-top: 10px;
}
.well p {
}
.well blockquote {
  margin-left: 20px;
  padding: 0 10px 0 20px;
}
.well cite {
  text-align: right;
  display: block;
  padding: 0 10px 10px 10px;
}
.well img {
  width: 40%;
  height: auto;
  float: left;
  border-radius: 2px;
}
.well ul {
  width: 100%;
  clear: left;
  list-style: none;
  height: 36px;
  padding: 0;
}
.well ul li {
  display: inline-block;
  float: left;
  background: #3B97D6;
  border-radius: 2px;
  margin-right: 6px;
  margin-top: 6px;
}
.well ul li:hover {
  background: #65addf;
}
.well ul li.fb {
  margin-left: 6px;
}

.well ul li.del {
  background: #cd3333;
  float: right;
}
.well ul li.del:hover {
  background: #d75c5c;
}

.well .fa {
  position: relative;
}
.well .fa span {
  display: none;
  position: absolute;
  width: 140px;
  left: -64px;
  top: -38px;
  background: #3B97D6;
  color: #fff;
  padding: 4px;
  border-radius: 3px;
  text-align: center;
  font-size: 12px;
  font-weight: bold;
}
.well .fa:hover span, .well .fa span:hover {
  display: inline-block;
}
.well .fa span:after {
  content: " ";
  position: absolute;
  left: 64px;
  bottom: -5px;
  border-top: 5px solid #3B97D6;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
}

.pagination {
 text-align: center;
 }

.pagination a{
	display: inline-block;
	margin-right: 3px;
  padding: 4px 12px;
  text-decoration: none;
  line-height: 1.5em;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  border: solid 1px #e0e0e0;
}

.pagination a:active {
	background: rgba(190, 190, 190, 0.75);
}

.pagination a:hover {
  background-color: #3B97D6;
  color: #fff;
}

#page2 .pagination {
	margin-bottom: 20px;
}

.modal .modal-content{
	background-color: #3B97D6;
  float: left;
  min-width: 600px;
}



.close{
  color: #fff!important;
  opacity: 1!important;
}
.modal-title{
  float: left;
  max-width: 92%;
}
.modal-row-info{
  width: 100%;
  float: left;
  padding: 10px 0;
}
.modal-row-info h5{
  color: #f8f8f8;
}
.modal-body{
  float: left;
  width: 100%; 
}
.left-padding{
  padding-left: 30px;
}
@media only screen and (max-width: 767px) {
  .wrapper{
    width: 100%;
  }
  .modal .modal-content{
    max-width: 100%;
    min-width: 100%;
  }
}